{% extends "base_generic.html" %}
{% load static %}
{% block header %}
<title>Data</title>
{% endblock %}

{% block content %}
    <h1>Choose two teams</h1>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="{% url 'baseballPred:ajax_get_team_winrates' %}" method="get" id="form_winrate">
        {% csrf_token %}
        Team 1: <select name="team1" id="team1">
        {% for team, id in team_id_dict.items %}
            <option value={{ id }}>{{ team }}</option>
        {% endfor %}
        </select>

        Team 2: <select name="team2" id="team2">
        {% for team, id in team_id_dict.items %}
            <option value={{ id }}>{{ team }}</option>
        {% endfor %}
        </select>

        <input type="submit" value="Submit" id="id_submit">
    </form>

    <div>
        <p id="id_winrate"></p>
        <p id="id_bnwinrate"></p>
    </div>

{% endblock %}

{% block scripts %}
<script>
    $("form").submit(function () {
        $("#id_winrate").html("<img src=\"{% static 'images/loading.gif' %}\" alt=\"Loading...\">");
        var url = $(this).attr("action");  // get the url of the `load_cities` view
        var formData = {
            team1: $("#team1").val(),
            team2: $("#team2").val(),
        };
        $.ajax({
            type: "GET",
            url: url,
            data: formData,
            success: function (data) {
                console.log(data);
                if(data.found) {
                    $("#id_winrate").html("The " + data.team1_name + " has a historic winrate of " + (data.team1_winrate * 100) + "% against the " + data.team2_name + ".");
                    $("#id_bnwinrate").html(
                        "Our Bayesian Network predicts that the " + data.team1_name + " has a " + (data.team1_bnwinrate * 100) + "% chance of winning against the " + data.team2_name + "."
                    );
                } else {
                    $("#id_winrate").html(data.team1_winrate);
                }
            },
            error: function() {
                $("#id_winrate").innerHTML = "";
            }

        });
        event.preventDefault();
    });
</script>
{% endblock %}