{% extends 'base_generic.html' %}
{% load static %}

{% block head %}
    <title>Sportsball Predictions Index</title>
{% endblock %}

<!-- Main -->
{% block content %}
    <header>
        <h1>Bayesian Network Baseball Predictions</h1>
        <p>The Bayesian Network that uses ERA (Earned Run Average) and OPS (On Base + Slugging) for predictions of wins and losses between 2 teams.</p>
    </header>
    <section class="tiles">
        <article class="style1">
            <span class="image">
                <img src="{% static 'images/pic01.jpg' %}" alt="" />
            </span>
            <a href="{% url 'baseballPred:data' %}">
                <h2>Predictions</h2>
                <div class="content">
                    <p>Find the historical probability of winning along with the predicted winrate using our Bayesian Network</p>
                </div>
            </a>
        </article>
        <article class="style2">
            <span class="image">
                <img src="{% static 'images/pic02.jpg' %}" alt="" />
            </span>
            <a href="{% url 'baseballPred:table_team_selct' %}">
                <h2>Team Stats</h2>
                <div class="content">
                    <p>Display games data for the head to head between two teams</p>
                </div>
            </a>
        </article>
    </section>
{% endblock %}

{% block scripts %}
{% endblock %}